# Работа с демонстрационной БД  «Авиаперевозки» в PostGre

Вам предоставляется демонстрационная БД, развернутая в СУБД PostGre. 
Режим доступа - только на чтение.

In [1]:
import os
import json
import psycopg2
from psycopg2.extras import DictCursor

In [2]:
POSTGRESQL_HOST = '10.129.0.25'

In [3]:
!env | grep POST

POSTGRESQL_USER=reader
POSTGRESQL_PASSWORD=Miba2021

Создание подключения к БД

In [4]:
conn = psycopg2.connect(
    dbname='demo', 
    user=os.environ['POSTGRESQL_USER'],
    password=os.environ['POSTGRESQL_PASSWORD'], 
    host=POSTGRESQL_HOST
)
cur = conn.cursor()

Получение параметров подключения (в будущем вам это пригодится)

In [5]:
conn.get_dsn_parameters()

{'user': 'reader',
 'channel_binding': 'prefer',
 'dbname': 'demo',
 'host': '10.129.0.25',
 'port': '5432',
 'options': '',
 'sslmode': 'prefer',
 'sslcompression': '0',
 'sslcertmode': 'allow',
 'sslsni': '1',
 'ssl_min_protocol_version': 'TLSv1.2',
 'gssencmode': 'prefer',
 'krbsrvname': 'postgres',
 'gssdelegation': '0',
 'target_session_attrs': 'any',
 'load_balance_hosts': 'disable'}

Подготовка SQL запроса на вывод первых 5 записей из таблицы seats

In [6]:
query = 'SELECT * FROM seats LIMIT 5'

In [7]:
cur.execute(query)
records = cur.fetchall()
cur.close()
conn.close()

In [8]:
records

[('319', '2A', 'Business'),
 ('319', '2C', 'Business'),
 ('319', '2D', 'Business'),
 ('319', '2F', 'Business'),
 ('319', '3A', 'Business')]

Через конструкцию  with as реализуем соединение с БД и выполним SQL запрос

In [9]:
with psycopg2.connect(
    dbname='demo', 
    user=os.environ['POSTGRESQL_USER'],
    password=os.environ['POSTGRESQL_PASSWORD'], 
    host=POSTGRESQL_HOST
) as conn:
    with conn.cursor() as cur:
        cur.execute('SELECT * FROM seats LIMIT 10')
        records = cur.fetchall()

In [10]:
records

[('319', '2A', 'Business'),
 ('319', '2C', 'Business'),
 ('319', '2D', 'Business'),
 ('319', '2F', 'Business'),
 ('319', '3A', 'Business'),
 ('319', '3C', 'Business'),
 ('319', '3D', 'Business'),
 ('319', '3F', 'Business'),
 ('319', '4A', 'Business'),
 ('319', '4C', 'Business')]

Подготовим словарь с тремя запросам  на получение информации о БД

In [11]:
queries = {
    '___DATABASES___': 'SELECT * FROM pg_database',
    '___TABLES___': "SELECT relname FROM pg_class WHERE relkind='r' AND relname !~ '^(pg_|sql_)';",
    '\n___COLUMNS___': "SELECT column_name FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'seats';"
}

In [12]:
with psycopg2.connect(
    dbname='demo', 
    user=os.environ['POSTGRESQL_USER'],
    password=os.environ['POSTGRESQL_PASSWORD'], 
    host=POSTGRESQL_HOST
) as conn:
    for name, query in queries.items():
        print('\n', name)
        with conn.cursor() as cur:
            cur.execute(query)
            for row in cur.fetchall():
                print(row)

 ___DATABASES___
(13760, 'postgres', 10, 6, 'en_US.UTF-8', 'en_US.UTF-8', False, True, -1, 13759, '726', '1', 1663, None)
(1, 'template1', 10, 6, 'en_US.UTF-8', 'en_US.UTF-8', True, True, -1, 13759, '726', '1', 1663, '{=c/postgres,postgres=CTc/postgres}')
(13759, 'template0', 10, 6, 'en_US.UTF-8', 'en_US.UTF-8', True, False, -1, 13759, '726', '1', 1663, '{=c/postgres,postgres=CTc/postgres}')
(16384, 'demo', 10, 6, 'en_US.UTF-8', 'en_US.UTF-8', False, True, -1, 13759, '726', '1', 1663, '{=Tc/postgres,postgres=CTc/postgres,reader=c/postgres}')

 ___TABLES___
('boarding_passes',)
('aircrafts_data',)
('flights',)
('airports_data',)
('seats',)
('tickets',)
('ticket_flights',)
('bookings',)
('employees',)
('departments',)
('department',)
('employee',)


___COLUMNS___
('aircraft_code',)
('seat_no',)
('fare_conditions',)

In [13]:
tables_db = []
query = "SELECT relname FROM pg_class WHERE relkind='r' AND relname !~ '^(pg_|sql_)';"
with psycopg2.connect(
    dbname='demo', 
    user=os.environ['POSTGRESQL_USER'],
    password=os.environ['POSTGRESQL_PASSWORD'], 
    host=POSTGRESQL_HOST
) as conn:
    with conn.cursor() as cur:
        cur.execute(query)
        for row in cur.fetchall():
            tables_db.append(row[0])

In [14]:
print(tables_db)

['boarding_passes', 'aircrafts_data', 'flights', 'airports_data', 'seats', 'tickets', 'ticket_flights', 'bookings', 'employees', 'departments', 'department', 'employee']

## Задание 1:
Для каждой таблицы БД выведите ее структуру (название колонок). 

В текстовой ячейке представьте описание каждой таблицы - ее назначение и структуру.

Пример использования магической команды sql

In [15]:
conn = psycopg2.connect(
    dbname='demo', 
    user=os.environ['POSTGRESQL_USER'],
    password=os.environ['POSTGRESQL_PASSWORD'], 
    host=POSTGRESQL_HOST
)

In [16]:
def cur(query, conn):
    with conn.cursor() as cursor:
        cursor.execute(query)
        response = cursor.fetchall()
    return response

In [17]:
for table in tables_db:
    print(f'\n_______{table.upper()}_______')
    query = f"SELECT column_name, udt_name FROM information_schema.columns WHERE table_name='{table}'"
    response = cur(query, conn)
    for row in response:
        print(row[0])

_______BOARDING_PASSES_______
flight_id
boarding_no
ticket_no
seat_no

_______AIRCRAFTS_DATA_______
model
range
aircraft_code

_______FLIGHTS_______
flight_id
scheduled_departure
scheduled_arrival
actual_departure
actual_arrival
arrival_airport
flight_no
status
aircraft_code
departure_airport

_______AIRPORTS_DATA_______
airport_name
city
coordinates
airport_code
timezone

_______SEATS_______
aircraft_code
seat_no
fare_conditions

_______TICKETS_______
contact_data
ticket_no
book_ref
passenger_id
passenger_name

_______TICKET_FLIGHTS_______
flight_id
amount
ticket_no
fare_conditions

_______BOOKINGS_______
book_date
total_amount
book_ref

_______EMPLOYEES_______
hire_date
employee_id
manager_id
department_id
first_name
last_name
job_id

_______DEPARTMENTS_______
department_id
manager_id
department_name

_______DEPARTMENT_______
department_id
manager_id
department_name

_______EMPLOYEE_______
hire_date
employee_id
manager_id
department_id
first_name
last_name
job_id

In [18]:
%load_ext sql

In [19]:
CONNECT_DATA = 'postgresql://{}:{}@{}/{}'.format(
    os.environ['POSTGRESQL_USER'],
    os.environ['POSTGRESQL_PASSWORD'],
    POSTGRESQL_HOST,
    'demo'
)

Получим информацию по типу каждого столбца таблицы boarding_passes

In [20]:
%%sql $CONNECT_DATA
SELECT column_name, udt_name 
FROM information_schema.columns 
WHERE table_name = 'boarding_passes'

4 rows affected.

[('flight_id', 'int4'),
 ('boarding_no', 'int4'),
 ('ticket_no', 'bpchar'),
 ('seat_no', 'varchar')]

## Задание 2:
Для каждой таблицы выведите информацию о типах ее столбцов (полей) и количестве записей.

Создайте словарь с названием таблиц и количеством записей в них.

Найти и вывести название таблицы с максимальным количеством записей, количество записей также вывести.

In [85]:
tables_records = {}
for table in tables_db:
    print(f'\n_______{table.upper()}_______')
    query_count = f'SELECT COUNT(*) FROM {table}'
    query_names_types = f"SELECT column_name, udt_name FROM information_schema.columns WHERE table_name='{table}'"
    count_records = cur(query_count, conn)
    names_types = cur(query_names_types, conn)
    print(f'Count records: {count_records[0][0]}')
    for row in names_types:
        print(row[0], row[1])
    tables_records[table] = count_records[0][0]

_______BOARDING_PASSES_______
Count records: 7925812
flight_id int4
boarding_no int4
ticket_no bpchar
seat_no varchar

_______AIRCRAFTS_DATA_______
Count records: 9
model jsonb
range int4
aircraft_code bpchar

_______FLIGHTS_______
Count records: 214867
flight_id int4
scheduled_departure timestamptz
scheduled_arrival timestamptz
actual_departure timestamptz
actual_arrival timestamptz
arrival_airport bpchar
flight_no bpchar
status varchar
aircraft_code bpchar
departure_airport bpchar

_______AIRPORTS_DATA_______
Count records: 104
airport_name jsonb
city jsonb
coordinates point
airport_code bpchar
timezone text

_______SEATS_______
Count records: 1339
aircraft_code bpchar
seat_no varchar
fare_conditions varchar

_______TICKETS_______
Count records: 2949857
contact_data jsonb
ticket_no bpchar
book_ref bpchar
passenger_id varchar
passenger_name text

_______TICKET_FLIGHTS_______
Count records: 8391852
flight_id int4
amount numeric
ticket_no bpchar
fare_conditions varchar

_______BOOKINGS_______
Count records: 2111110
book_date timestamptz
total_amount numeric
book_ref bpchar

_______EMPLOYEES_______
Count records: 12
hire_date date
employee_id int4
manager_id int4
department_id int4
first_name varchar
last_name varchar
job_id varchar

_______DEPARTMENTS_______
Count records: 10
department_id int4
manager_id int4
department_name varchar

_______DEPARTMENT_______
Count records: 10
department_id int4
manager_id int4
department_name varchar

_______EMPLOYEE_______
Count records: 12
hire_date date
employee_id int4
manager_id int4
department_id int4
first_name varchar
last_name varchar
job_id varchar

In [86]:
max_records = max(tables_records, key=tables_records.get)
print(f'Max records: {max_records} {tables_records[max_records]}')

Max records: ticket_flights 8391852

## Задание 3:

Вывести названия тарифов, которые предлагают авиаперевозчики пассажирам.

In [87]:
query = 'SELECT DISTINCT fare_conditions FROM ticket_flights'
response = [i[0] for i in cur(query, conn)]
print(response)

['Business', 'Comfort', 'Economy']

## Задание 4:

По каждому тарифу найти общую сумму выручки за продажу билетов.

In [88]:
query = 'SELECT fare_conditions, SUM(amount) As total_amount FROM ticket_flights GROUP BY fare_conditions'
response = cur(query, conn)
for row in response:
    print(f'{row[0]}, {row[1]}')

Business, 44321628100.00
Comfort, 4580291100.00
Economy, 118507139900.00

## Задание 5:

Какой тариф приносит максимальный доход? (написать SQL запрос)

In [93]:
query = '''
SELECT fare_conditions, SUM(amount) AS total_amount
FROM ticket_flights
GROUP BY fare_conditions
ORDER BY total_amount DESC
LIMIT 1;
'''
response = cur(query, conn)[0]
print(f'Max amount: {response[0]} {response[1]}')

Max amount: Economy 118507139900.00

# Время выполнения запросов. 

Разные запросы требуют разное время на выполнение. Часто нужно оптимизировать запрос, либо находить и использовать другой инструмент для анализа данных.

Приведем пример подчета времени выполнения запроса.

In [23]:
%time result =  %sql SELECT * from departments;

 * postgresql://reader:***@10.129.0.25/demo
10 rows affected.
CPU times: user 1.7 ms, sys: 411 μs, total: 2.11 ms
Wall time: 2.3 ms

In [24]:
result

[(10, 'Administration', 200),
 (30, 'Purchasing', 114),
 (40, 'HumanResources', 203),
 (50, 'Shipping', 121),
 (60, 'IT', 103),
 (70, 'PublicRelations', 204),
 (80, 'Sales', 145),
 (90, 'Executive', 100),
 (100, 'Finance', 108),
 (110, 'Accounting', 205)]

## Задание 5:
Реализуйте 2 способами поиск модели самолета, у которого среди всех моделей минимальное значение максимальной дальности полета.

Выведите время выполнения первого запроса и второго запроса, оцените какой запрос быстрее выполняется, объясните - почему?

In [25]:
%%sql $CONNECT_DATA
SELECT column_name, udt_name 
FROM information_schema.columns 
WHERE table_name = 'boarding_passes'

4 rows affected.

[('flight_id', 'int4'),
 ('boarding_no', 'int4'),
 ('ticket_no', 'bpchar'),
 ('seat_no', 'varchar')]

In [58]:
%%time  
result = %sql SELECT model, range As max_range FROM aircrafts_data ORDER BY max_range LIMIT 1;

 * postgresql://reader:***@10.129.0.25/demo
1 rows affected.
CPU times: user 2.21 ms, sys: 0 ns, total: 2.21 ms
Wall time: 2.41 ms

In [59]:
result

[({'en': 'Cessna 208 Caravan', 'ru': 'Сессна 208 Караван'}, 1200)]

In [129]:
%%time
result = %sql SELECT model, range FROM aircrafts_data WHERE range = (SELECT MIN(range) FROM aircrafts_data);

 * postgresql://reader:***@10.129.0.25/demo
1 rows affected.
CPU times: user 263 μs, sys: 3.71 ms, total: 3.97 ms
Wall time: 3.87 ms

In [130]:
result

[({'en': 'Cessna 208 Caravan', 'ru': 'Сессна 208 Караван'}, 1200)]

Первый запрос выполняется быстрее, потому что он оформляется за 1 проход, второй же запрос требует 2 проходов

## Задание 6:

Выведите сколько всего рейсов в БД имеют максимальную длительность полета.

Какова максимальная длительность полета?

In [61]:
%%sql
WITH max_duration AS (
    SELECT MAX(AGE(scheduled_arrival, scheduled_departure)) AS max_duration
    FROM flights
)

SELECT 
    max_duration.max_duration,
    COUNT(*) AS flights_with_max_duration
FROM 
    flights, max_duration
WHERE 
    AGE(flights.scheduled_arrival, flights.scheduled_departure) = max_duration.max_duration
GROUP BY 
    max_duration.max_duration;

 * postgresql://reader:***@10.129.0.25/demo
1 rows affected.

[(1132,)]

## Задание 7: 
Выведите уникальные маршруты рейсов (по аэропортам отправления и прибытия) с максимальной длительностью полета, включая следующие данные: 
- Код и название аэропорта отправления.
- Город отправления.
- Код и название аэропорта прибытия.
- Город прибытия.
- Длительность рейса (максимальная среди всех рейсов для данного маршрута).


Например:
| Duration   | Departure Airport Name         | Departure City  | Arrival Airport Name          | Arrival City          |
|------------|--------------------------------|-----------------|-------------------------------|-----------------------|
| 10:15:00   | John F. Kennedy Airport       | New York        | Los Angeles International     | Los Angeles          |
| 10:15:00    | Heathrow Airport              | London          | Dubai International Airport   | Dubai                |
| 10:15:00    | Tokyo Haneda Airport          | Tokyo           | Sydney Kingsford Smith        | Sydney               |
| 10:15:00    | Frankfurt Airport             | Frankfurt       | Changi Airport                | Singapore            |

In [72]:
%%sql
WITH flight_durations AS (
    SELECT
        departure_airport,
        arrival_airport,
        MAX(AGE(scheduled_arrival, scheduled_departure)) AS max_duration
    FROM flights
    GROUP BY departure_airport, arrival_airport
)

SELECT
    flight_durations.max_duration,
    dep.airport_name->>'en' AS departure_name,  -- Извлекаем название на английском
    dep.city->>'en' AS departure_city,
    arr.airport_name->>'en' AS arrival_name,
    arr.city->>'en' AS arrival_city
FROM
    flight_durations
JOIN airports_data dep ON flight_durations.departure_airport = dep.airport_code
JOIN airports_data arr ON flight_durations.arrival_airport = arr.airport_code
WHERE max_duration = (SELECT MAX(max_duration) FROM flight_durations)

 * postgresql://reader:***@10.129.0.25/demo
4 rows affected.

[(datetime.timedelta(seconds=31800), 'Yelizovo Airport', 'Petropavlovsk', 'Domodedovo International Airport', 'Moscow'),
 (datetime.timedelta(seconds=31800), 'Domodedovo International Airport', 'Moscow', 'Yelizovo Airport', 'Petropavlovsk'),
 (datetime.timedelta(seconds=31800), 'Domodedovo International Airport', 'Moscow', 'Yuzhno-Sakhalinsk Airport', 'Yuzhno-Sakhalinsk'),
 (datetime.timedelta(seconds=31800), 'Yuzhno-Sakhalinsk Airport', 'Yuzhno-Sakhalinsk', 'Domodedovo International Airport', 'Moscow')]

## Задание 8:
Определить, на какой аэропорт лежит максимальная нагрузка по обслуживанию отправлений и прибытий самолетов?

Вывести название аэропорта и город, где он находится.

In [73]:
%%sql
WITH airport_load AS (
    SELECT
        airport_code,
        SUM(departures + arrivals) AS total_load
    FROM (
        SELECT
            departure_airport AS airport_code,
            COUNT(*) AS departures,
            0 AS arrivals
        FROM flights
        GROUP BY departure_airport

        UNION ALL

        SELECT
            arrival_airport AS airport_code,
            0 AS departures,
            COUNT(*) AS arrivals
        FROM flights
        GROUP BY arrival_airport
    ) AS load_data
    GROUP BY airport_code
)
SELECT
    ad.airport_name->>'en' AS airport_name,  -- Название аэропорта на английском
    ad.city->>'en' AS city,                 -- Город на английском
    al.total_load
FROM
    airport_load al
JOIN airports_data ad ON al.airport_code = ad.airport_code
ORDER BY al.total_load DESC
LIMIT 1;

 * postgresql://reader:***@10.129.0.25/demo
1 rows affected.

[('Domodedovo International Airport', 'Moscow', Decimal('41753'))]

## Задание 9:

Вывести среднее количество мест в самолетах по кажому классу обслуживания. Требования к формату вывода - две цифры после запятой. 

Пример:

| fare_conditions | avg_seat_count |
|----------------|---------------|
| Business       | 100.01         |
| Comfort        | 558.23         |
| Economy        | 15.52        |

In [145]:
%%sql
SELECT
    fare_conditions,
    ROUND(AVG(seat_count), 2) AS avg_seat_count
FROM (
    SELECT
        fare_conditions,
        COUNT(*) AS seat_count
    FROM seats
    GROUP BY aircraft_code, fare_conditions
) AS seat_data
GROUP BY fare_conditions;

 * postgresql://reader:***@10.129.0.25/demo
3 rows affected.

[('Business', Decimal('21.71')),
 ('Comfort', Decimal('48.00')),
 ('Economy', Decimal('126.56'))]

## Задание 10:

Найти и вывести на экран информацию о самом дорогом перелете. Вывести следующую информацию:
- flight_id	(id рейса)
- final_amount (общая выручка за данный рейс = сумма выручки за все проданные билеты)
- departure_airport	(название аэропорта отправки самолета)
- departure_city (название города аэропорта отправки)
- arrival_airport	(название аэропорта прибытия самолета)
- arrival_city (город прибытия)

Выведите статистику выполнения запроса с использованием команды EXPLAIN ANALYZE. Проанализуйте полученный отчет. Какие рекомендации даются по оптимизации запроса? Попробуйте применить рекомендации.

Сколько всего рейсов с максимальной суммой выручки?

In [38]:
%%sql
WITH flight_revenue AS (
    SELECT
        flight_id,
        SUM(amount) AS final_amount
    FROM ticket_flights
    GROUP BY flight_id
),
max_revenue AS (
    SELECT
        MAX(final_amount) AS max_amount
    FROM flight_revenue
),
most_expensive_flights AS (
    SELECT
        fr.flight_id,
        fr.final_amount
    FROM flight_revenue fr
    JOIN max_revenue mr ON fr.final_amount = mr.max_amount
)
SELECT
    mf.flight_id,
    mf.final_amount,
    dep.airport_name->>'en' AS departure_airport,
    dep.city->>'en' AS departure_city,
    arr.airport_name->>'en' AS arrival_airport,
    arr.city->>'en' AS arrival_city
FROM
    most_expensive_flights mf
JOIN flights f ON mf.flight_id = f.flight_id
JOIN airports_data dep ON f.departure_airport = dep.airport_code
JOIN airports_data arr ON f.arrival_airport = arr.airport_code;

 * postgresql://reader:***@10.129.0.25/demo
1 rows affected.

[(15328, Decimal('17269600.00'), 'Domodedovo International Airport', 'Moscow', 'Khabarovsk-Novy Airport', 'Khabarovsk')]

In [150]:
# %%sql
# WITH flight_revenue AS (
#     SELECT
#         flight_id,
#         SUM(amount) AS final_amount
#     FROM ticket_flights
#     GROUP BY flight_id
# ),
# max_revenue AS (
#     SELECT
#         MAX(final_amount) AS max_amount
#     FROM flight_revenue
# ),
# most_expensive_flights AS (
#     SELECT
#         fr.flight_id,
#         fr.final_amount
#     FROM flight_revenue fr
#     JOIN max_revenue mr ON fr.final_amount = mr.max_amount
# )
# SELECT
#     mf.flight_id,
#     mf.final_amount,
#     dep.airport_name->>'en' AS departure_airport,
#     dep.city->>'en' AS departure_city,
#     arr.airport_name->>'en' AS arrival_airport,
#     arr.city->>'en' AS arrival_city
# FROM
#     most_expensive_flights mf
# JOIN flights f ON mf.flight_id = f.flight_id
# JOIN airports_data dep ON f.departure_airport = dep.airport_code
# JOIN airports_data arr ON f.arrival_airport = arr.airport_code;

 * postgresql://reader:***@10.129.0.25/demo
43 rows affected.

[('Hash Join  (cost=397262.55..399372.79 rows=410 width=164) (actual time=3804.871..3840.874 rows=1 loops=1)',),
 ('  Hash Cond: (f.arrival_airport = arr.airport_code)',),
 ('  CTE flight_revenue',),
 ('    ->  Finalize GroupAggregate  (cost=374006.55..395405.61 rows=82036 width=36) (actual time=3383.182..3720.390 rows=150588 loops=1)',),
 ('          Group Key: ticket_flights.flight_id',),
 ('          ->  Gather Merge  (cost=374006.55..393149.62 rows=164072 width=36) (actual time=3383.152..3486.209 rows=438842 loops=1)',),
 ('                Workers Planned: 2',),
 ('                Workers Launched: 2',),
 ('                ->  Sort  (cost=373006.53..373211.62 rows=82036 width=36) (actual time=3102.863..3127.292 rows=146281 loops=3)',),
 ('                      Sort Key: ticket_flights.flight_id',),
 ('                      Sort Method: external merge  Disk: 10104kB',),
 ('                      Worker 0:  Sort Method: external merge  Disk: 10272kB',),
 ('                      Worker 1:  Sort Method: external merge  Disk: 10144kB',),
 ('                      ->  Partial HashAggregate  (cost=328895.86..364067.26 rows=82036 width=36) (actual time=1805.167..2956.028 rows=146281 loops=3)',),
 ('                            Group Key: ticket_flights.flight_id',),
 ('                            Planned Partitions: 8  Batches: 45  Memory Usage: 4561kB  Disk Usage: 64560kB',),
 ('                            Worker 0:  Batches: 41  Memory Usage: 4561kB  Disk Usage: 89032kB',),
 ('                            Worker 1:  Batches: 41  Memory Usage: 4561kB  Disk Usage: 72864kB',),
 ('                            ->  Parallel Seq Scan on ticket_flights  (cost=0.00..104898.45 rows=3496545 width=10) (actual time=0.016..411.666 rows=2797284 loops=3)',),
 ('  ->  Hash Join  (cost=1851.60..3956.62 rows=410 width=150) (actual time=3787.722..3823.640 rows=1 loops=1)',),
 ('        Hash Cond: (f.departure_airport = dep.airport_code)',),
 ('        ->  Nested Loop  (cost=1846.26..3950.16 rows=410 width=44) (actual time=3787.672..3823.588 rows=1 loops=1)',),
 ('              ->  Hash Join  (cost=1845.84..3706.47 rows=410 width=36) (actual time=3787.643..3823.557 rows=1 loops=1)',),
 ('                    Hash Cond: (fr.final_amount = (max(flight_revenue.final_amount)))',),
 ('                    ->  CTE Scan on flight_revenue fr  (cost=0.00..1640.72 rows=82036 width=36) (actual time=3383.186..3400.183 rows=150588 loops=1)',),
 ('                    ->  Hash  (cost=1845.83..1845.83 rows=1 width=32) (actual time=399.706..399.708 rows=1 loops=1)',),
 ('                          Buckets: 1024  Batches: 1  Memory Usage: 9kB',),
 ('                          ->  Aggregate  (cost=1845.81..1845.82 rows=1 width=32) (actual time=399.701..399.701 rows=1 loops=1)',),
 ('                                ->  CTE Scan on flight_revenue  (cost=0.00..1640.72 rows=82036 width=32) (actual time=0.001..376.525 rows=150588 loops=1)',),
 ('              ->  Index Scan using flights_pkey on flights f  (cost=0.42..0.59 rows=1 width=12) (actual time=0.022..0.022 rows=1 loops=1)',),
 ('                    Index Cond: (flight_id = fr.flight_id)',),
 ('        ->  Hash  (cost=4.04..4.04 rows=104 width=114) (actual time=0.038..0.038 rows=104 loops=1)',),
 ('              Buckets: 1024  Batches: 1  Memory Usage: 23kB',),
 ('              ->  Seq Scan on airports_data dep  (cost=0.00..4.04 rows=104 width=114) (actual time=0.006..0.017 rows=104 loops=1)',),
 ('  ->  Hash  (cost=4.04..4.04 rows=104 width=114) (actual time=17.136..17.136 rows=104 loops=1)',),
 ('        Buckets: 1024  Batches: 1  Memory Usage: 23kB',),
 ('        ->  Seq Scan on airports_data arr  (cost=0.00..4.04 rows=104 width=114) (actual time=17.077..17.100 rows=104 loops=1)',),
 ('Planning Time: 0.439 ms',),
 ('JIT:',),
 ('  Functions: 68',),
 ('  Options: Inlining false, Optimization false, Expressions true, Deforming true',),
 ('  Timing: Generation 6.123 ms, Inlining 0.000 ms, Optimization 2.610 ms, Emission 44.341 ms, Total 53.074 ms',),
 ('Execution Time: 3852.740 ms',)]

## Дополнительное задание:

Реализуйте 3 запроса, которые позволят узнать, выявить узкие места работы авиаперевозчика.

Аэропорты с наибольшими задержками

In [152]:
%%sql
WITH flight_delays AS (
    SELECT
        departure_airport AS airport_code,
        AVG(EXTRACT(EPOCH FROM (actual_departure - scheduled_departure))) / 60 AS avg_departure_delay_minutes,
        AVG(EXTRACT(EPOCH FROM (actual_arrival - scheduled_arrival))) / 60 AS avg_arrival_delay_minutes
    FROM flights
    WHERE actual_departure IS NOT NULL AND actual_arrival IS NOT NULL
    GROUP BY departure_airport
)
SELECT
    ad.airport_name->>'en' AS airport_name,
    ad.city->>'en' AS city,
    fd.avg_departure_delay_minutes,
    fd.avg_arrival_delay_minutes
FROM
    flight_delays fd
JOIN airports_data ad ON fd.airport_code = ad.airport_code
ORDER BY (fd.avg_departure_delay_minutes + fd.avg_arrival_delay_minutes) DESC
LIMIT 10;

 * postgresql://reader:***@10.129.0.25/demo
10 rows affected.

[('Usinsk Airport', 'Usinsk', Decimal('17.5660377358490566'), Decimal('17.6886792452830189')),
 ('Komsomolsk-on-Amur Airport', 'Komsomolsk-on-Amur', Decimal('17.0384615384615385'), Decimal('16.8557692307692308')),
 ('Yelizovo Airport', 'Petropavlovsk', Decimal('16.4777070063694268'), Decimal('17.1146496815286624')),
 ('Ust-Ilimsk Airport', 'Ust Ilimsk', Decimal('16.3001912045889101'), Decimal('16.2667304015296367')),
 ('Ulan-Ude Airport (Mukhino)', 'Ulan-ude', Decimal('16.1264916467780430'), Decimal('16.1002386634844869')),
 ('Kurumoch International Airport', 'Samara', Decimal('15.4808743169398907'), Decimal('15.4644808743169399')),
 ('Nizhnevartovsk Airport', 'Nizhnevartovsk', Decimal('15.3698868581375109'), Decimal('15.3855526544821584')),
 ('Nefteyugansk Airport', 'Nefteyugansk', Decimal('15.2192307692307692'), Decimal('15.1115384615384615')),
 ('Sokol Airport', 'Magadan', Decimal('14.8133971291866029'), Decimal('15.0239234449760766')),
 ('Strezhevoy Airport', 'Strezhevoy', Decimal('14.7076502732240437'), Decimal('14.6803278688524590'))]

Аэропорты с наибольшей нагрузкой

In [153]:
%%sql
WITH airport_load AS (
    SELECT
        airport_code,
        SUM(departures + arrivals) AS total_load
    FROM (
        SELECT
            departure_airport AS airport_code,
            COUNT(*) AS departures,
            0 AS arrivals
        FROM flights
        GROUP BY departure_airport

        UNION ALL

        SELECT
            arrival_airport AS airport_code,
            0 AS departures,
            COUNT(*) AS arrivals
        FROM flights
        GROUP BY arrival_airport
    ) AS load_data
    GROUP BY airport_code
)
SELECT
    ad.airport_name->>'en' AS airport_name,
    ad.city->>'en' AS city,
    al.total_load
FROM
    airport_load al
JOIN airports_data ad ON al.airport_code = ad.airport_code
ORDER BY al.total_load DESC
LIMIT 10;

 * postgresql://reader:***@10.129.0.25/demo
10 rows affected.

[('Domodedovo International Airport', 'Moscow', Decimal('41753')),
 ('Sheremetyevo International Airport', 'Moscow', Decimal('38695')),
 ('Pulkovo Airport', 'St. Petersburg', Decimal('24665')),
 ('Vnukovo International Airport', 'Moscow', Decimal('22288')),
 ('Tolmachevo Airport', 'Novosibirsk', Decimal('13692')),
 ('Yemelyanovo Airport', 'Krasnoyarsk', Decimal('9165')),
 ('Koltsovo Airport', 'Yekaterinburg', Decimal('8939')),
 ('Bolshoye Savino Airport', 'Perm', Decimal('8034')),
 ('Rostov-on-Don Airport', 'Rostov', Decimal('8033')),
 ('Bryansk Airport', 'Bryansk', Decimal('7920'))]

Рейсы с низкой заполняемостью

In [51]:
%%sql
WITH flight_occupancy AS (
    SELECT
        f.flight_id,
        f.flight_no,
        COUNT(tf.ticket_no) AS sold_tickets,
        (SELECT COUNT(*) FROM seats s WHERE s.aircraft_code = f.aircraft_code) AS total_seats,
        ROUND(COUNT(tf.ticket_no) * 1.0 / (SELECT COUNT(*) FROM seats s WHERE s.aircraft_code = f.aircraft_code), 2) AS occupancy_rate
    FROM
        flights f
    JOIN ticket_flights tf ON f.flight_id = tf.flight_id
    GROUP BY f.flight_id, f.flight_no, f.aircraft_code
)
SELECT
    fo.flight_id,
    fo.flight_no,
    fo.sold_tickets,
    fo.total_seats,
    fo.occupancy_rate
FROM
    flight_occupancy fo
WHERE
    fo.occupancy_rate < 0.5  -- Рейсы с заполняемостью менее 50%
ORDER BY fo.occupancy_rate ASC
LIMIT 10;

 * postgresql://reader:***@10.129.0.25/demo
10 rows affected.

[(157429, 'PG0364', 1, 222, Decimal('0.00')),
 (22778, 'PG0412', 2, 402, Decimal('0.00')),
 (172625, 'PG0201', 1, 222, Decimal('0.00')),
 (157303, 'PG0364', 1, 222, Decimal('0.00')),
 (168074, 'PG0365', 1, 222, Decimal('0.00')),
 (190272, 'PG0455', 1, 97, Decimal('0.01')),
 (53208, 'PG0232', 1, 170, Decimal('0.01')),
 (53535, 'PG0232', 1, 170, Decimal('0.01')),
 (27384, 'PG0200', 2, 222, Decimal('0.01')),
 (27494, 'PG0200', 3, 222, Decimal('0.01'))]